:root {
  --color-blue: #182971;
  --color-dark-blue: #202a44;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey-one: #e1dfdd;
  --color-grey-two: #a7a8a9;
  --color-grey-three: #888b8d;
  --color-grey-four: #53565a;

  --font-color: #141414;
  --color-active: #78b833;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
}