@font-face {
  font-family: 'Novum Regular';
  src: url('../fonts/NovumWebLatin-Regular.woff2') format('woff2'),
    url('../fonts/NovumWebLatin-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Novum Bold';
  src: url('../fonts/NovumWebLatin-Bold.woff2') format('woff2'),
    url('../fonts/NovumWebLatin-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Novum Light';
  src: url('../fonts/NovumWebLatin-Light.woff2') format('woff2'),
    url('../fonts/NovumWebLatin-Light.woff') format('woff');
}

@font-face {
  font-family: 'Novum Italic';
  src: url('../fonts/NovumWebLatin-Italic.woff2') format('woff2'),
    url('../fonts/NovumWebLatin-Italic.woff') format('woff');
}

body {
  font-family: 'Novum Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
