.vehicleHeaderCell {
  flex: 1 1 calc(100% / 6);
  margin: 0 var(--spacing-extra-small);
  text-align: left;
  user-select: none;
  cursor: pointer;
}

.vehicleHeaderWrapper {
  flex: 1 1 calc(100% / 6);
  display: flex;
  justify-content: start;
}
