.vehicleTableCell {
  flex: 1 1 calc(100% / 6);
  margin: 0 var(--spacing-extra-small);
  text-align: left;
  cursor: pointer;
  user-select: none;
}

.vehicleEquipments {
  flex: 1 1 calc(100% / 6);
  display: flex;
  flex-direction: column;
}

.iconWrapper {
  display: flex;
}

.input {
  max-width: calc((100% / 6) - var(--spacing-small));
  max-height: var(--input-height);
  margin-right: var(--spacing-small);
  margin-bottom: -4px;
  margin-top: -4px;
}

.equipmentsWrapper {
  display: flex;
  flex-direction: column;
}

.equipmentsCheckbox {
  margin-right: var(--spacing-small);
}

@media screen and (min-width: 1080px) {
  .input {
    width: calc(100vw / 6);
  }
}

.dataText:hover {
  position: relative;
  right: var(--spacing-extra-small);
  padding: var(--spacing-extra-small);
  background-color: var(--color-grey-one);
  border-radius: var(--border-radius-large);
  transition: background-color 0.2s;
}

.adjustHovered:hover {
  margin: -4px;
  right: 0;
}

@media screen and (max-width: 425px) {
  .vehicleTableCell {
    flex-basis: calc(100% / 3);
    line-height: var(--font-size-base);
  }

  .vehicleEquipments {
    flex-basis: calc(100% / 3);
    line-height: var(--font-size-base);
  }

  .input {
    max-width: calc(100% / 2);
    flex-basis: calc(100% / 2);
    margin-right: 0;
  }
}
