.header {
  display: flex;
  padding: calc(var(--spacing-extra-large) + var(--spacing-normal)) var(--spacing-normal);
  background: linear-gradient(var(--color-white), 99%, var(--color-grey-one));
}

.textWrapper {
  display: flex;
  flex-direction: column;
  margin-left: var(--spacing-extra-large);
}

@media screen and (max-width: 425px) {
  .textWrapper {
    margin-left: 0;
  }
}

.title {
  margin-top: var(--spacing-small);
  font-size: var(--font-size-title);
}

.infoText {
  color: var(--color-grey-three);
  margin-bottom: var(--spacing-extra-small);
}
