.vehicleTableRow {
  display: flex;
  background: var(--color-white);
  margin: var(--spacing-normal) 0;
  padding: var(--spacing-normal);
  justify-content: space-between;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

@media screen and (max-width: 425px) {
  .vehicleTableRow {
    flex-wrap: wrap;
  }
}
